<footer class="app-footer bg-body-secondary">    
    <strong>
        Copy right &copy; 2026&nbsp;
        <a href="~/" class="text-decoration-none">NPT Shop</a>.
    </strong>
    All rights reserved.
</footer>