@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

@model SV22T1020438.Admin.Models.AccountChangePasswordViewModel

<div class="row justify-content-center">
    <div class="col-12">
        <form method="post" action="~/Account/ChangePassword">
            <div class="card card-warning card-outline">
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <!-- Mật khẩu cũ -->
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu cũ</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
                            <input asp-for="OldPassword" type="password" class="form-control" placeholder="Nhập mật khẩu cũ" autofocus>
                        </div>
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>

                    <!-- Mật khẩu mới -->
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-shield-lock-fill"></i>
                            </span>
                            <input asp-for="NewPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới">
                        </div>
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>

                    <!-- Xác nhận mật khẩu mới -->
                    <div class="mb-3">
                        <label class="form-label">Xác nhận mật khẩu mới</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-check-circle-fill"></i>
                            </span>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu mới">
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Đổi mật khẩu
                    </button>
                    <a href="~/" class="btn btn-secondary me-2">
                        <i class="bi bi-back"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
