@model Supplier
@{
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu dữ liệu
    </button>

    <a href="~/Supplier" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}
<div class="row justify-content-center">
    <div class="col-12">
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="bi bi-truck me-2"></i>
                    Thông tin nhà cung cấp
                </h5>
            </div>

            <div class="card-body">
                <form id="formEdit" method="post" action="~/Supplier/SaveData">

                    <input type="hidden" asp-for="SupplierID" />

                    <div class="mb-3">
                        <label class="form-label">Tên nhà cung cấp</label>
                        <input type="text" asp-for="SupplierName"
                               class="form-control"
                               placeholder="" autofocus />
                        <span asp-validation-for="SupplierName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tên giao dịch</label>
                        <input type="text" asp-for="ContactName"
                               class="form-control"
                               placeholder="" />
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Điện thoại</label>
                            <input type="tel" asp-for="Phone"
                                   class="form-control"
                                   placeholder="" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" asp-for="Email"
                                   class="form-control"
                                   placeholder="" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <textarea class="form-control" asp-for="Address"
                                  rows="3"
                                  placeholder=""></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tỉnh / Thành</label>
                        <select class="form-select" asp-for="Province" asp-items="await SelectListHelper.Provinces()">
                        </select>
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
