@model Customer
@{
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu dữ liệu
    </button>    
    <a href="~/Customer" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}

<div class="row justify-content-center">
    <div class="col-12">
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="bi bi-people me-2"></i>
                    Thông tin khách hàng
                </h5>
            </div>

            <div class="card-body">
                <form id="formEdit" method="post" action="~/Customer/SaveData">

                    <input type="hidden" asp-for="CustomerID" />

                    <div class="row align-items-end">
                        <div class="col-md-5 mb-3">
                            <label class="form-label">Tên khách hàng</label>
                            <input type="text" asp-for="CustomerName"
                                   class="form-control"
                                   placeholder="" autofocus />
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label class="form-label">Tên giao dịch</label>
                            <input type="text" asp-for="ContactName"
                                   class="form-control"
                                   placeholder="" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="form-label d-block">Trạng thái</label>
                            <div class="form-check form-switch mt-2">
                                <input class="form-check-input" asp-for="IsLocked"
                                       type="checkbox"
                                       id="IsLocked" />
                                <label class="form-check-label" for="IsLocked">
                                    Đã bị khóa
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label class="form-label">Điện thoại</label>
                            <input type="tel" asp-for="Phone"
                                   class="form-control"
                                   placeholder="" />
                        </div>

                        <div class="col-md-7 mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" asp-for="Email"
                                   class="form-control"
                                   placeholder="" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <textarea class="form-control" asp-for="Address"
                                  rows="3"
                                  placeholder=""></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tỉnh / Thành</label>
                        <select class="form-select" asp-for="Province" asp-items="await SelectListHelper.Provinces()">
                        </select>
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
