@{
    Layout = null;
}
<div class="modal-header text-bg-danger">
    <strong class="modal-title">
        Xóa giỏ hàng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="alert alert-danger d-flex align-items-center">
        <i class="bi bi-info-circle me-2"></i>
        Bạn có chắc chắn muốn xóa tất cả các mặt hàng trong giỏ hàng không?
    </div>
</div>

<div class="modal-footer">
    <button type="button" data-bs-dismiss="modal"
        class="btn btn-primary" onclick="clearCart()">
        <i class="bi bi-check"></i> Chấp nhận
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>
