@{
    Layout = null;
}
<div class="modal-header text-bg-danger">
    <strong class="modal-title">
        Xóa đơn hàng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="alert alert-danger d-flex align-items-center">
        <i class="bi bi-info-circle me-2"></i>
        Bạn có chắc chắn muốn xóa đơn hàng này không?
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check"></i> Chấp nhận
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>
