@model SV22T1020438.Models.Sales.OrderSearchInput
@{
    ViewBag.Title = "Quản lý Đơn hàng";
}
@section PageToolBar {
    <a href="~/Order/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Lập đơn hàng mới
    </a>
}
<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="~/Order/Search"
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <div class="row g-2">
                <div class="col-md-3">
                    <label class="form-label">Trạng thái đơn hàng</label>
                    <select asp-for="Status" class="form-select">
                        <option value="0">-- Tất cả --</option>
                        <option value="1">Đang chờ duyệt</option>
                        <option value="2">Đã duyệt</option>
                        <option value="3">Đang giao</option>
                        <option value="4">Hoàn tất</option>
                        <option value="-1">Bị hủy</option>
                        <option value="-2">Bị từ chối</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Thời gian lập đơn hàng</label>
                    <div class="input-group">
                        <input type="text" asp-for="DateFrom" class="form-control date-picker" placeholder="Từ ngày..." />
                        <span class="input-group-text">-</span>
                        <input type="text" asp-for="DateTo" class="form-control date-picker" placeholder="...đến ngày" />
                    </div>
                </div>

                <div class="col-md-5">
                    <label class="form-label">Tên khách hàng</label>
                    <div class="input-group">
                        <input type="hidden" asp-for="PageSize" />
                        <input type="text"
                               class="form-control"
                               asp-for="SearchValue"
                               placeholder="Tên khách hàng..." autofocus />

                        <button class="btn btn-info d-flex align-items-center">
                            <i class="bi bi-search me-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="searchResult">   
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}