@model SV22T1020438.Shop.Models.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
}

@if (Model != null)
{
    <h2>@Model.ProductName</h2>
    <p>Giá: @Model.Price</p>
}
else
{
    <p>Không tìm thấy sản phẩm</p>
}