@model Shipper
@{
}
@section PageToolBar {
    <button type="submit" form="formEdit" class="btn btn-primary">
        <i class="bi bi-save"></i>
        Lưu dữ liệu
    </button>

    <a href="~/Shipper" class="btn btn-secondary ms-1">
        <i class="bi bi-arrow-left"></i>
        Quay lại
    </a>
}

<div class="row justify-content-center">
    <div class="col-12">
        @Html.ValidationMessage("Error", new { @class = "text-danger" })
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <i class="bi bi-bicycle me-2"></i>
                    Thông tin người giao hàng
                </h5>
            </div>

            <div class="card-body">
                <form id="formEdit" method="post" action="~/Shipper/SaveData">
                    <input type="hidden" asp-for="ShipperID" />

                    <div class="mb-3">
                        <label class="form-label">Tên người giao hàng</label>
                        <input type="text" asp-for="ShipperName"
                               class="form-control"
                               placeholder="Nhập tên người giao hàng" autofocus />
                        <span asp-validation-for="ShipperName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Điện thoại</label>
                        <input type="tel" asp-for="Phone"
                               class="form-control"
                               placeholder="Nhập số điện thoại" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
