#scrollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #64646444;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999;
}

    #scrollToTop:hover {
        background-color: #0056b3;
        transform: translateY(-3px);
    }

/* Override bootstrap */
.page-item .page-link {
    border-radius: 0;
}